.discription {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #f8f8f8;
  align-items: center;
  padding: 0 200px;
  margin-top: 15px;
}

