.headerBackground {
  background-color: #99AAA8;
  padding-top: 20px;
}
.navigation ul li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-right: 50px;
  color: #FFFFFF;
}
.navigation ul {
  display: flex;
}
.rightNavSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li:hover {
  border-bottom: 1px solid #ffffff;
}
